<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/b.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/demo.css">
       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    
    <body class="bg-success p-2 text-dark bg-opacity-25">


              
        <nav class="navbar bg-light navbar-dark bg-dark rounded-4">
            <div class="container-fluid text-center">
            <a class="navbar-brand " href="">Home | 
            </a>
            </div>
        </nav>
        <hr>
        <a class="btn btn-primary btn btn-dark" href="1" role="button">HomePage</a>
        
        <a class="btn btn-primary btn btn-dark" href="2" role="button">AboutPage</a>
        <a class="btn btn-primary btn btn-dark" href="3" role="button">Vedio/Music</a>
        <hr>
        






    </body>
</html>


