<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="apple-touch-icon" href="b.png">
    <link href="static/demo.css" rel="stylesheet">
</head>
<body>
    
    {% include "home.html" %}
    <h1>Home Page</h1>
    



    <img src="static/a.jpg" alt="Nature">


    <style>
        .text{
            color: wheat;
            padding: 75px;
            font-size: 33px;
        }
    </style>

    <hr>
    <form action="" method="GET">
    <div id="sp">
     
      
       



    </div>
    </form>
    <hr>

  
<address id="foo">
        <pre>Name          :  Rohit</pre>
        <pre>Emial         :  srrs9136@gmail.com  </pre>
        <pre>githib        :  srrs9136@gmail.com   </pre>
        <pre>Instragram ID :  @lone3lack        </pre>
        <pre>Contect No    :  9136547883</pre>

</address>
   



    
</body>
</html>